[user]
	name = Matt Lee
	email = mr-lee@users.noreply.github.com

[core]
	editor = vim
	excludesfile = ~/.gitignore_global

[alias]
	lg = log --color --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit
	co = checkout
	ci = commit
	df = diff --cached --color
	dc = diff --color

[merge]
	tool = vimdiff

[diff]
	tool = vimdiff

[difftool]
	prompt = false

[url "git@github.com:"]
	insteadOf = https://github.com/

# Work config - loaded if present (not checked into dotfiles)
[include]
	path = ~/.gitconfig.work
